<h1>Eat-Da-Burger!</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="change-todevoured">To Eat!</h2>
            {{#each this.burger}}
            {{#unless devoured}}
            {{> partials/burger/burger-block devoured=1}}
            {{/unless}}
            {{/each}}
        </div>
        <div class="col">
            <h2 class="delete-burger">Burgers Devoured</h2>
            {{#each this.burger}}
            {{#if devoured}}
            {{> partials/burger/burger-block devoured=0}}
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <h2>Add a Burger</h2>
        <form id="add-burger" action="/burgers" class="create-form" method="POST">

            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="new-burger" name="burger_name">
            </div>


            <button type="submit">Add Burger</button>
            <p>Enter a burger you want to eat. Click the "Add Burger" button.</p>
        </form>
    </div>
</div>